
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{selectedVenue.overview.title}}</h1>
</div>


<div class="wrapper-md">

    <div class="row">

        <div class="col-md-8 col-lg-9">
            <div class="row">

                <tabset class="tab-container" ng-init="steps={percent:10, step1:true, step2:false, step3:false, step4:false}">
                    <tab heading="Venue" active="steps.step1" select="steps.percent=10">
                        <p class="m-b">step 1 location help.</p>
                        <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
                        <form name="step1" class="form-validation">

                            <p>City:</p>
                            <input type="text" id="city" ng-model="selectedVenue.address.city" class="form-control" 
                                   ng-autocomplete options="autocompleteCityOptions" details="autocompleteCityDetails"
                                   />

                            <p>Postal code:</p>
                            <input type="text" name="postalcode" class="form-control" ng-model="selectedVenue.address.postalCode" 
                                   required ng-change="step1.postalcode.$valid ? (steps.percent=20) : (steps.percent = 20)"/>

                            <p>Address:</p>
                            <input type="text" name="addressline1" class="form-control" ng-model="selectedVenue.address.line1" 
                                   ng-autocomplete options="autocompleteAddressOptions" details="addressDetails"
                                   required ng-change="selectedVenue.address.latitud = addressDetails.geometry.location.A;
                                                       selectedVenue.address.longitud = addressDetails.geometry.location.F"/>

                            {{addressDetails.geometry.location.A}}-{{addressDetails.geometry.location.F}}

                            <p>Contact Phone Number</p>
                            <input type="tel" tel-input="" numbers-only="" id="phone" name="phone" placeholder="E.g. +56 9 12345678" 
                                   ng-model-on-blur="" ng-model="selectedVenue.contactInfo.phone" 
                                   ng-change="step1.phone.$valid ? (steps.percent=40) : (steps.percent = 20)"
                                   class="form-control"/>

                            <p>General email:</p>
                            <input type="email" name="email" class="form-control" ng-model="selectedVenue.contactInfo.email" 
                                   required ng-change="step1.email.$valid ? (steps.percent=50) : (steps.percent = 20)"/>
                            <p class="m-t">Website:</p>
                            <input type="url" name="url" placeholder="http://" class="form-control" ng-model="selectedVenue.contactInfo.website" required />
                            <div class="m-t m-b">
                                <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step2 = true">Next</button>
                                <button type="button" class="btn btn-default btn-rounded" ng-click="log()">log</button>
                            </div>
                        </form>
                    </tab>
                    <tab heading="Details"  select="steps.percent=30">
                        <form name="step2" class="form-validation">
                            <p class="m-b">Continue the next step</p>
                            <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>

                            <p>Preview</p>
                            <div class="brdr bgc-fff pad-10 btm-mrg-20 property-listing">
                                <div class="media">

                                    <div class="pull-left" href="#" ngf-drag-over-class="dragOverClass($event)" ngf-drop="uploadImages($files,true,true)" ngf-select="uploadImages($files,true,true)" ng-multiple="false" resetOnClick="true">

                                        <figure class="changeable-picture">
                                            <cl-image ng-show="selectedVenue.frontPhoto == null" public-id="hhvzs6odg4v9wmg0qfjr" width="373" height="209" crop="fill">
                                            </cl-image>

                                            <cl-image ng-hide="selectedVenue.frontPhoto == null" public-id="{{selectedVenue.frontPhoto}}" width="373" height="209" crop="fill">
                                            </cl-image>
                                            <figcaption><p>Cambiar foto</p></figcaption>
                                        </figure>
                                    </div>

                                    <div class="clearfix visible-sm"></div>

                                    <div class="media-body fnt-smaller">
                                        <a href="#" target="_parent"></a>

                                        <h4 class="media-heading">
                                            {{selectedVenue.overview.title}} <small class="pull-right">{{selectedVenue.address.line1}}</small></h4>


                                        <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                            <li>{{selectedVenue.spaces.length}} spaces</li>
                                        </ul>

                                        <p class="hidden-xs">{{selectedVenue.overview.summary}}</p>
                                        <span class="fnt-smaller fnt-lighter fnt-arial">
                                            <div>phone: {{selectedVenue.contactInfo.phone}}</div><div> email: {{selectedVenue.contactInfo.email}}</div><div> website: {{selectedVenue.contactInfo.website}}</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="file" ng-hide="selectedFile.progress === 0">
                                    <div class="status">{{selectedFile.status}}</div>
                                    <div class="progress-bar" style="background-color: rgba(0,0,0,0.2); width: 100%; height: 6px;">
                                        <div class="progress" style="background-color: green; height: 6px; width: {{selectedFile.progress}}%" ></div>
                                    </div>
                                </div>
                            </div><!-- End Listing-->

                            <p>Venue Name</p>
                            <input name="title" class="form-control" ng-model="selectedVenue.overview.title" 
                                   required ng-change="step1.email.$valid ? (steps.percent=30) : (steps.percent = 20)"/>

                            <p class="m-t">Venue Type</p>

                            <div class="btn-group m-r" >
                                <label class="btn btn-default" ng-model="selectedVenue.venueType" btn-radio="'Left'" uncheckable
                                       ng-repeat="type in getVenueTypes()">{{type}}</label>
                            </div>

                            <p>Description</p>

                            <textarea id="description" type="text" name="description" style="height: 120px;" class="form-control" 
                                      ng-model="selectedVenue.overview.summary" ></textarea>


                            <p class="m-t">Tax</p>

                            <p class="m-t">Currency</p>

                            <p class="headline headline-light">More pictures</p>


                            <div class="form-control" style="height: 100% !important; padding-top: 20px;" ngf-drag-over-class="dragOverClass($event)" ngf-drop="uploadImages($files,true,false)">
                                <!--<p>You can also drag and drop an image file into the dashed area.</p>-->
                                <div class="row">

                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <a ngf-select="uploadImages($files,true,false)" ng-multiple="false" resetOnClick="true">
                                            <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b">
                                                <i class="glyphicon glyphicon-camera icon text-info-dker"></i>
                                                <span class="font-bold">Add picture</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="photo in selectedVenue.photos track by $index">
                                        <cl-image class="img-responsive venue-img-gallery" public-id="{{photo}}" width="300" height="200" crop="fill">
                                        </cl-image>
                                    </div>



                                </div>

                                <div class="file" ng-hide="selectedFile.progress === 0">
                                    <div class="status">{{selectedFile.status}}</div>
                                    <div class="progress-bar" style="background-color: rgba(0,0,0,0.2); width: 100%; height: 6px;">
                                        <div class="progress" style="background-color: green; height: 6px; width: {{selectedFile.progress}}%" ></div>
                                    </div>
                                </div>
                            </div>

                            <p class="headline headline-light">hours Of Operation</p>



                            <div class="m-t m-b">
                                <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step1 = true">Prev</button>
                                <button type="submit" ng-disabled="step2.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step3 = true">Next</button>

                            </div>
                        </form>
                    </tab>

                    <tab heading="Spaces & Pricing"  select="steps.percent=60">
                        <!--                        <p class="m-b">spaces.</p>-->

                        <div ng-hide="editSpaceMode" class="wrapper-md">

                            <div>

                                <div class="col-md-4 col-lg-4">
                                    <a ng-click="addNewSpace()">
                                        <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b">
                                            <i class="glyphicon glyphicon-map-marker icon text-info-dker"></i>
                                            <span class="font-bold">Add Space</span>

                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-lg-4" ng-repeat="space in selectedVenue.spaces track by $index" >
                                    <div class="panel b-a">
                                        <div class="panel-heading no-border bg-dark">          
                                            <span class="text-lt">{{space.overview.title}}</span>
                                        </div>
                                        <div class="item m-l-n-xxs m-r-n-xxs">
                                            <div ng-init="x = 3" class="top text-right padder m-t-xs w-full">
                                                <rating ng-model="x" max="5" state-on="'fa fa-star text-warning'" state-off="'fa fa-star-o text-white'"></rating>
                                            </div>

                                            <div class="bottom wrapper bg-gd-dk text-white">            
                                                <div>{{space.overview.summary}}</div>
                                                <div>9:00 am - 12:00 pm</div>
                                            </div>

                                            <cl-image ng-show="space.frontPhoto == null" public-id="hhvzs6odg4v9wmg0qfjr" class="img-full" width="373" height="239" crop="fill">
                                            </cl-image>

                                            <cl-image ng-hide="space.frontPhoto == null" public-id="{{space.frontPhoto}}" class="img-full" width="373" height="239" crop="fill">
                                            </cl-image>

                                        </div>
                                        <div class="hbox text-center b-b b-light text-sm">          
                                            <a href class="col padder-v text-muted b-r b-light">
                                                <i class="icon-call-end block m-b-xs fa-2x"></i>
                                                <span>{{space.pricing.perWeek}}</span>
                                            </a>
                                            <a href class="col padder-v text-muted b-r b-light">
                                                <i class="icon-anchor block m-b-xs fa-2x"></i>
                                                <span>{{space.pricing.perMonth}}</span>
                                            </a>
                                            <a ng-click="editSpace(space, $index)"
                                               class="col padder-v text-muted">
                                                <i class="icon-edit block m-b-xs fa-2x"></i>
                                                <span>Edit</span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="editSpaceMode" class="wrapper-md">
                            <p>Preview</p>
                            <div class="brdr bgc-fff pad-10 btm-mrg-20 property-listing">
                                <div class="media">

                                    <div class="pull-left" href="#" ngf-drag-over-class="dragOverClass($event)" ngf-drop="uploadImages($files,false,true)" ngf-select="uploadImages($files,false,true)" ng-multiple="false" resetOnClick="true">

                                        <figure class="changeable-picture">
                                            <cl-image ng-show="space.frontPhoto == null" public-id="hhvzs6odg4v9wmg0qfjr" width="373" height="209" crop="fill">
                                            </cl-image>

                                            <cl-image ng-hide="space.frontPhoto == null" public-id="{{space.frontPhoto}}" width="373" height="209" crop="fill">
                                            </cl-image>
                                            <figcaption><p>Cambiar foto</p></figcaption>
                                        </figure>
                                    </div>

                                    <div class="clearfix visible-sm"></div>

                                    <div class="media-body fnt-smaller">
                                        <a href="#" target="_parent"></a>

                                        <h4 class="media-heading">
                                            {{space.overview.title}} <small class="pull-right">{{selectedVenue.address.line1}}</small></h4>


                                        <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                            <li>
                                                <div class="bg-white text-center m-b">
                                                    <i class="glyphicon glyphicon-user icon text-info-dker"></i>
                                                    <span class="font-bold">{{space.capacity}}</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <p class="hidden-xs">{{space.overview.summary}}</p>
                                        <span class="fnt-smaller fnt-lighter fnt-arial">
                                            <div>phone: {{selectedVenue.contactInfo.phone}}</div><div> email: {{selectedVenue.contactInfo.email}}</div><div> website: {{selectedVenue.contactInfo.website}}</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="file" ng-hide="selectedFile.progress === 0">
                                    <div class="status">{{selectedFile.status}}</div>
                                    <div class="progress-bar" style="background-color: rgba(0,0,0,0.2); width: 100%; height: 6px;">
                                        <div class="progress" style="background-color: green; height: 6px; width: {{selectedFile.progress}}%" ></div>
                                    </div>
                                </div>
                            </div><!-- End Listing-->

                            <p>Space Title.</p>

                            <input name="title" class="form-control" ng-model="space.overview.title" required />

                            <p class="m-t">Space Type</p>

                            <div class="btn-group m-r" >
                                <label class="btn btn-default" ng-model="space.type" btn-radio="'Left'" uncheckable
                                       ng-repeat="stype in getSpaceTypes()">{{stype}}</label>
                            </div>

                            <p>Space Summary.</p>

                            <textarea id="description" type="text" name="description" class="form-control" 
                                      ng-model="space.overview.summary" ></textarea>

                            <p>Space Type.</p>

                            <p class="headline headline-light">More pictures</p>


                            <div class="form-control" style="height: 100% !important; padding-top: 20px;" ngf-drag-over-class="dragOverClass($event)" ngf-drop="uploadImages($files,false,false)">
                                <!--<p>You can also drag and drop an image file into the dashed area.</p>-->
                                <div class="row">

                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <a ngf-select="uploadImages($files,false,false)" ng-multiple="false" resetOnClick="true">
                                            <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b">
                                                <i class="glyphicon glyphicon-camera icon text-info-dker"></i>
                                                <span class="font-bold">Add picture</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="photo in space.photos track by $index">
                                        <cl-image class="img-responsive venue-img-gallery" public-id="{{photo}}" width="300" height="200" crop="fill">
                                        </cl-image>
                                    </div>



                                </div>

                                <div class="file" ng-hide="selectedFile.progress === 0">
                                    <div class="status">{{selectedFile.status}}</div>
                                    <div class="progress-bar" style="background-color: rgba(0,0,0,0.2); width: 100%; height: 6px;">
                                        <div class="progress" style="background-color: green; height: 6px; width: {{selectedFile.progress}}%" ></div>
                                    </div>
                                </div>
                            </div>

                            <p>Per hour.</p>
                            <p>Per day.</p>
                            <p>Per month.</p>

                            <pre><code>{{space| json}}</code></pre>

                            <div class="m-t m-b">
                                <button type="button" class="btn btn-default btn-rounded" ng-click="revertEditing()">Cancel</button>
                                <button type="button" class="btn btn-primary btn-rounded" ng-click="doneEditing()">Save</button>
                            </div>

                        </div>

                    </tab>



                    <tab heading="Amenities"  select="steps.percent=60">


                        <p>Select all the common amenities that your venue clients can access</p>

                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Amenities</label>
                                    <div class="col-sm-10">
                                        <div class="checkbox">
                                            <label class="i-checks" ng-repeat="amenity in amenitiesList">
                                                <input
                                                    type="checkbox"
                                                    name="selectedAmenities[]"
                                                    value="{{amenity.name}}"
                                                    ng-model="amenity.selected"
                                                    ><i></i> {{amenity.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>





                    </tab>

                    <tab heading="Admins"  select="steps.percent=60">
                        <p class="m-b">Add multiple users to look after the administration of this venue..</p>
                        <div class="row">
                              <div class="m-t m-b">
                            <div ng-if="!editAdminMode" class="wrapper-md">
                                <div class="col-md-4 col-lg-4">
                                    <a ng-click="addNewAdmin()">
                                        <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b">
                                            <i class="glyphicon glyphicon-map-marker icon text-info-dker"></i>
                                            <span class="font-bold">Add Admin</span>

                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-lg-4" ng-repeat="admin in selectedVenue.admins track by $index" >

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="clearfix">
                                                <a href class="pull-left thumb-md avatar b-3x m-r">
                                                    <img src="img/a2.jpg" alt="...">
                                                </a>
                                                <div class="clear">
                                                    <div class="h3 m-t-xs m-b-xs">
                                                        {{admin.adminName}}
                                                        <i class="fa fa-circle text-danger pull-right text-xs m-t-sm"></i>
                                                    </div>
                                                    <small class="text-muted">{{admin.adminRole}}</small>
                                                    <small class="text-muted">{{admin.adminEmail}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group no-radius alt">
                                            <a ng-click="editAdmin(admin, $index)"
                                               class="col padder-v text-muted">
                                                <i class="icon-edit block m-b-xs fa-2x"></i>
                                                <span>Edit</span>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div ng-if="editAdminMode" class="wrapper-md">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label text-left">Admin Name</label>
                                        <div class="col-sm-6">

                                            <input name="adminName" class="form-control" ng-model="selectedVenueAdmin.adminName" required />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label text-left">Admin Role</label>
                                        <div class="col-sm-6">

                                            <ui-select ng-model="selectedVenueAdmin.adminRole" theme="bootstrap">
                                                <ui-select-match placeholder="Select or search a role in the list...">{{$select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="rolitem in adminRoles | filter: $select.search">
                                                    <div ng-bind-html="rolitem | highlight: $select.search"></div>
                                                    <small ng-bind-html="rolitem | highlight: $select.search"></small>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label text-left">Admin Email</label>
                                        <div class="col-sm-6">

                                            <input name="adminEmail" class="form-control" ng-model="selectedVenueAdmin.adminEmail" required />
                                            <span class="help-block">...</span>
                                        </div>
                                    </div>

<div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label text-left"></label>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-default btn-rounded" 
                                                    ng-click="revertEditingAdmin()">Cancel</button>
                                            <button type="button" class="btn btn-primary btn-rounded" 
                                                    ng-click="doneEditingAdmin()">Save</button>
                                        </div>
                                    </div>
                                </form>



                            </div>


                        </div>
                        </div>
                    </tab>


                </tabset>



                <div class="m-t m-b">
                    <button class="btn btn-default btn-rounded" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-rounded" ng-click="edit()">Save</button>
                </div>

            </div>
        </div>

        <div class="col-md-4 col-lg-3 bg-light lter b-l bg-auto">

            help

            <pre><code>admin: {{selectedVenueAdmin| json}}</code></pre>


            <h4>selection as simple array using $watch</h4>
            <pre>{{amenitySelection|json}}</pre>


        </div>

    </div>


    <div class="row">
        <div class="col">
            <pre><code>{{selectedVenue| json}}</code></pre>

            <pre><code>{{ autocompleteCityDetails}}</code></pre>

        </div>
        <div class="col">

        </div>
    </div>



</div>

