<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add/Edit venues  </h1>
    <a ui-sref="app.venues.create" href="#/app/venues/create" class="flex-align--middle">
                            <i class="glyphicon glyphicon-plus icon text-info-dker"></i>
                            <span class="font-bold">Add Venue</span>

                    </a>
</div>
<div class="wrapper-md">

    <div class="row">

        <div class="col-md-8 col-lg-9">
            <div class="row">
                <div class="col-md-4 col-lg-4" ng-repeat="venue in data track by $index" >
                    <div class="panel b-a">
                        <div class="panel-heading no-border bg-primary">          
                            <span class="text-lt">{{venue.overview.title}}</span>
                        </div>
                        <div class="item m-l-n-xxs m-r-n-xxs">
                            <div ng-init="x = 3" class="top text-right padder m-t-xs w-full">
                                <rating ng-model="x" max="5" state-on="'fa fa-star text-white'" state-off="'fa fa-star-o text-white'"></rating>
                            </div>

                            <div class="bottom wrapper bg-gd-dk text-white">            
                                <div>{{venue.overview.title}}</div>
                                <div>9:00 am - 12:00 pm</div>
                            </div>
                            <cl-image ng-show="venue.frontPhoto.cloudinaryUrl1 == null" public-id="hhvzs6odg4v9wmg0qfjr" class="img-full" width="238" crop="limit">
                                </cl-image>
                            
                            <cl-image ng-hide="venue.frontPhoto.cloudinaryUrl1 == null" public-id="{{venue.frontPhoto.cloudinaryUrl1}}" class="img-full" width="373" height="209" crop="pad">
                                </cl-image>
                            
                        </div>
                        <div class="hbox text-center b-b b-light text-sm">          
                            <a href ng-click="remove(venue.id, $index, $event)" class="col padder-v text-muted b-r b-light">
                                <i class="fa fa-trash block m-b-xs fa-2x"></i>
                                <span>Remove</span>
                            </a>
                            <a href class="col padder-v text-muted b-r b-light">
                                <i class="icon-pointer block m-b-xs fa-2x"></i>
                                <span>Location</span>
                            </a>
                            <a ui-sref="app.venues.edit({venueId:venue.id})"
                               class="col padder-v text-muted">
                                <i class="fa fa-edit block m-b-xs fa-2x"></i>
                                <span>Edit</span>
                            </a>
                        </div>

                    </div>
                </div>


                   


            </div>
        </div>

        <div class="col-md-4 col-lg-3">

            <div data-ng-include="'tpl/blocks/venuesHelpAside.html'">
            </div>


        </div>

    </div>






</div>