<a href class="off-screen-toggle hide" ui-toggle-class="off-screen" 
   data-target=".app-aside" ></a>
<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="app.settings.container = false;">
    <div class="col">
        <div class="wrapper bg-white b-b">
            <div class="fb-profile">
                <cl-image align="left" class="fb-image-lg" public-id="{{selectedVenue.frontPhoto}}" width="1000" height="240" crop="fill">
                </cl-image>
                <!--                <div align="left" class="fb-image-profile thumbnail" set-ng-animate="false">
                                    <carousel>
                                        <slide ng-repeat="slide in selectedVenue.slides" active="slide.active">
                                            <cl-image public-id="{{slide.image}}" width="238" height="159" crop="fill">
                                            </cl-image>
                                        </slide>
                                    </carousel>
                                </div>-->
                <!--<img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>-->
                <div class="fb-profile-text">
                    <div class="wrapper-lg bg-white-opacity">
                        <div class="row m-t">
                            <div class="col-sm-7">
                                <a href class="thumb-lg pull-left m-r">
                                    <img ng-src=""  class="img-circle"/>
                                </a>
                                <div class="clear m-b">
                                    <div class="m-b m-t-sm">
                                        <span class="h3 text-black">{{selectedVenue.overview.title}}</span>
                                        <span class="h5 m-l">{{selectedVenue.address.line1}}</span>
                                    </div>
                                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"> </span> Verified by

                                    <p class="m-b">
                                        <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon" ng-if="auth.profile.email_verified === true"><i class="fa fa-envelope"></i></a>
                                        <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="pull-right pull-none-xs text-center">
                                    <!--                                    <a href class="m-b-md inline m">
                                                                            <span class="h3 block font-bold">{{selectedVenue.spaces.length}}</span>
                                                                            <small>Venues</small>
                                                                        </a>-->
                                    <a href class="m-b-md inline m">
                                        <span class="h3 block font-bold">{{selectedVenue.spaces.length}}</span>
                                        <small>Spaces</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        <div class="wrapper bg-white b-b">
                    <ul class="nav nav-pills nav-sm">
                        <li class="active"><a href>Profile</a></li>
                        <li><a href>Messages</a></li>
                    </ul>
                </div>-->


        <div class="wrapper-md">
            <!--content here-->
            <div class="row">

                <div class="col-lg-6">


                    <!-- carousel -->
                    <div class="panel panel-default" set-ng-animate="false">
                        <div class="panel-heading">
                            <span class="h4">Details</span>
                        </div>
                        <div class="panel-body">
                            {{selectedVenue.overview.summary}}
<!--                            <pre><code>{{selectedVenue.address| json}}</code></pre>
                            <pre><code>{{markers| json}}</code></pre>-->
                        </div>
                        <!--                        <div class="panel-footer">
                                                    <button type="button" class="btn btn-default m-r" ng-click="">button</button>
                                                </div>-->
                    </div>
                    <!-- / carousel -->

                </div>
                
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4">Location</span>
                        </div>
                        <div class="panel-body" ng-if="isSelectedNotNull()">
                            <img style="max-width: 100%; height: auto; width: auto\9;" src="{{'http://maps.googleapis.com/maps/api/staticmap?center=&zoom=14&scale=false&size=750x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7Clabel:1%7C'+selectedVenue.address.latitude+','+selectedVenue.address.longitude}}" alt="{{selectedVenue.overview.title}}">
                            
                        </div>
                    </div>
                </div>

<!--                <div class="col-lg-6">


                     carousel 
                    <div class="panel b-a" set-ng-animate="false">
                        <div class="panel-heading">
                            Venue Photos
                        </div>

                        <div class="panel-footer">
                            <button type="button" class="btn btn-default m-r" ng-click="">button</button>
                        </div>
                    </div>
                     / carousel 

                </div>-->

                <div class="col-lg-6">


                    <!-- carousel -->
                    <div class="panel b-a" set-ng-animate="false">
                        <div class="panel-heading">
                            Spaces
                        </div>

                        <div class="panel-body">
                            <div class="card" ng-repeat="space in selectedVenue.spaces">
                                <div >
                                    <table style="width: 100%;">
                                        <tr>
                                            <td style="width: 60%; padding: 10px;" ng-click="viewDetailOfSpace(space)">
                                                <div class="ws-content-group">
                                                    <h5 class="ws-item-title text-overflow-dot ng-binding" style="width: 200px;">
                                                        {{space.overview.title}}
                                                        <!-- end ngIf: item.workvenue.capacity -->
                                                    </h5>
                                                    <a ui-sref="app.pages.space({spaceId:space.id})">
                                            <div class="row text-info">
                                                <span class="glyphicon glyphicon-map-marker left" aria-hidden="true"></span>
                                                <span class="text-cap">&nbsp;{{space.overview.title}}</span>
                                            </div>
                                        </a>
                                                    
                                                    
                                                    <!--                                                        <span class="text-smoky ng-binding ng-scope" >
                                                                                                                <i class="fa fa-users" aria-hidden="true"></i> 1
                                                                                                            </span>-->
                                                    <small class="text-smoky"><em>at</em> <span class="text-cap">{{venue.overview.title}}</span></small>
                                                </div>

                                                <div class="ws-content-group">
                                                    <div class="ws-item-emphasis flex-row flex-gutter-sm">
                                                        <div class="flex-cell-auto flex-align--top">
                                                            <i aria-hidden="true" class="icon icon-marker-thin-alt align-middle"></i>
                                                        </div>
                                                        <div class="flex-cell flex-align--top">
                                                            <p>
                                                                {{space.overview.summary}}
                                                            </p>
                                                            <p class="p-xs text-smoky text-overflow-dot ng-binding">
                                                                Business Center
                                                                <span ng-if="space.reviews == 1" class="ng-scope"> • 1 review</span><!-- end ngIf: item.venue.reviews == 1 -->
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="width: 100%; height: 100%;" set-ng-animate="false">
                                                    <carousel>
                                                        <slide ng-repeat="slide in space.slides" active="slide.active">
                                                            <cl-image public-id="{{slide.image}}" width="238" height="159" crop="fill">
                                                            </cl-image>
                                                        </slide>
                                                    </carousel>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <button type="button" class="btn btn-default m-r" ng-click="">button</button>
                        </div>
                    </div>
                    <!-- / carousel -->

                </div>
            </div>
        </div>






<!--        <div class="padder">      

            <div>
                <br />
                <div style="margin-top: 10px">venue json</div>
                <pre><code>{{selectedVenue| json}}</code></pre>
            </div>       

        </div>-->




    </div>

</div>
