.div-wrapper {
    position:relative;
    height: 100%;
    width: 100%;
}

.angular-google-map-container {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.filter-results-container{
    background: rgba(255, 255, 255, 1); height: 100px; padding-top: 34px !important;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: none;
}

.angular-google-map {
    top: 80px;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
    max-width: none;
}

.custom-info-window{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    /*border: 1px solid white;*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 200px;
    margin-top: 15px;
    margin-left: -130px;
}
.custom-info-window a{
    color: white;
    text-decoration: underline;
}
.custom-info-window:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: rgba(0,0,0,0.5) transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 118px;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    //height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.map-opciones{
    background: rgba(255, 255, 255, 0.8);
    font-family: Roboto;
    font-size: 12px;
    padding: 0 11px 0 13px;
}

.results-map-search{
    overflow-y: scroll; position: absolute; top: 0px; right:0; bottom: 0; left: 0;
    background: rgba(245, 245, 245, 1);
    //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 0px 0px 0px 0px;
    z-index: 2; 
}

.results-map-search-top60{
    overflow-y: scroll; position: absolute; top: 100px; right:0; bottom: 0; left: 0;
    background: rgba(245, 245, 245, 1);
    //box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 0px 0px 0px 0px;
    z-index: 2; 
}

.results-map-search-top50{
    overflow-y: scroll; position: absolute; top: 50px; right:0; bottom: 0; left: 0;
    background: rgba(245, 245, 245, 1);
    //box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 0px 0px 0px 0px;
    z-index: 2; 
    margin-bottom: 0px;
}

.card{
    //padding: 0px 11px 20px 13px;
    //border: 0px 11px 20px 13px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    background: rgba(255, 255, 255, 1);
}

.td-results-map-search{
    width: 545px;
    vertical-align: top;
}

.result-map-container{
    position:relative; height: 100%; width: 545px;
}

.hackyhack {
    position: relative;
}
.hackyhack .dropdown-menu {
    //left: auto !important;
    left: -170px !important;
}

@media screen and (max-width: 1200px) {
    .td-results-map-search{
        width: 345px;
        vertical-align: top;
    }

    .filter-results-container{
        background: rgba(255, 255, 255, 1); height: 100px; padding-top: 15px !important;
    }


    .result-map-container{
        position:relative; height: 100%; width: 345px;
    }

    .card{
        //padding: 0px 11px 20px 13px;
        //border: 0px 11px 20px 13px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        background: rgba(255, 255, 255, 1);
    }
}

@media screen and (max-width: 1000px) {
    .result-map-container{
        display: none !important;
    }

    .td-results-map-search{
        display: none !important;
    }
}

#pac-input {
    background: #fff;
    border-radius: 0px;
    border: none;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    margin-left: 12px;
    padding: 17px 15px 15px;
    text-overflow: ellipsis;
    width: 60%;
    box-shadow: none;
    border: solid 1px #E8E8E8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#pac-input:focus {
    //border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

.changeable-picture{
    //height: 163px;
    margin: 0px;
    overflow: hidden;
    position: relative;
    -webkit-filter: none; /* Google Chrome, Safari 6+ & Opera 15+ */
    /*    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
        box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);*/
    //width: 289px;
}

.changeable-picture:hover{
    cursor: pointer; cursor: hand;
}

.changeable-picture img {
    display: block;
    height: auto;
    max-width: 100%;
    border: #bbb solid thin;
    -webkit-filter: saturate(2);
}

.changeable-picture figcaption {
    background: rgba(0,0,0,0.8);
    color: white;
    display: table;
    height: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.changeable-picture figcaption p {
    display: table-cell;
    font-size: 1em;
    position: relative;
    bottom: 0px;
    text-align: center;
    width: 373px;
    vertical-align: middle;
}

.venue-img-gallery {
    -webkit-filter: none; /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
    margin-bottom:20px;
}

.venue-img-gallery:hover {
    -webkit-filter: brightness(1.4) saturate(2); /* Google Chrome, Safari 6+ & Opera 15+ */
}

