.div-wrapper {
    position:relative;
    height: 100%;
    width: 100%;
}

.angular-google-map-container {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: none;
}

.angular-google-map {
    top: 80px;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
    max-width: none;
}

.custom-info-window{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    /*border: 1px solid white;*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 200px;
    margin-top: 15px;
    margin-left: -130px;
}
.custom-info-window a{
    color: white;
    text-decoration: underline;
}
.custom-info-window:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: rgba(0,0,0,0.5) transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 118px;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    //height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.map-opciones{
    background: rgba(255, 255, 255, 0.8);
    font-family: Roboto;
    font-size: 12px;
    padding: 0 11px 0 13px;
}

.results-map-search{
    overflow-y: scroll; position: absolute; top: 0; right:0; bottom: 0; left: 0;
    background: rgba(245, 245, 245, 1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 0px 0px 0px 0px;
    z-index: 2; 
} /* Has to be at least one increment larger in value than the Google Maps iframe z-index */

.card{
    //padding: 0px 11px 20px 13px;
    //border: 0px 11px 20px 13px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    background: rgba(255, 255, 255, 1);
}

.td-results-map-search{
    width: 545px;
    vertical-align: top;
}

.result-map-container{
    position:relative; height: 100%; width: 545px;
}

@media screen and (max-width: 1200px) {
    .td-results-map-search{
        width: 345px;
        vertical-align: top;
    }

    .results-map-search{
        overflow-y: scroll; position: absolute; top: 0; right:0; bottom: 0; left: 0;
        background: rgba(245, 245, 245, 1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        padding: 0px 0px 0px 0px;
        z-index: 2; 
    } 

    .result-map-container{
        position:relative; height: 100%; width: 345px;
    }

    .card{
        //padding: 0px 11px 20px 13px;
        //border: 0px 11px 20px 13px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        background: rgba(255, 255, 255, 1);
    }
}

@media screen and (max-width: 1000px) {
    .results-map-search{
        display: none !important;
    }

    .result-map-container{
        display: none !important;
    }

    .td-results-map-search{
        display: none !important;
    }
}

#pac-input {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    border: 3px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    //background-color: #fff;
    //font-weight: bold;
    //color: #FFF;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 60%;
}

#pac-input:focus {
    //border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

.text-smoky {
    color: #746e65;
}

.text-overflow-dot {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ws-item-title {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.ws-content-group {
    margin-bottom: 1rem;
}

.ws-item-emphasis p {
    margin-bottom: 0;
    line-height: 1.6;
}

.text-overflow-dot {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-cap {
    text-transform: capitalize;
}

.fullheight-map{
    height: 1000px;
}

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}


.changeable-picture{
    //height: 163px;
    overflow: hidden;
    position: relative;
    -webkit-filter: none; /* Google Chrome, Safari 6+ & Opera 15+ */
/*    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);*/
    //width: 289px;
}

.changeable-picture:hover{
    cursor: pointer; cursor: hand;
    -webkit-filter: saturate(2); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.changeable-picture img {
    display: block;
    height: auto;
    max-width: 100%;
    border: #bbb solid thin;
    
}


.changeable-picture figcaption {
    background: rgba(0,0,0,0.8);
    color: white;
    display: table;
    height: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.changeable-picture figcaption p {
    display: table-cell;
    font-size: 1em;
    position: relative;
    bottom: 0px;
    text-align: center;
    width: 373px;
    vertical-align: middle;
}

.venue-img-gallery {
  -webkit-filter: none; /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
    margin-bottom:20px;
}

.venue-img-gallery:hover {
  -webkit-filter: brightness(1.4) saturate(2); /* Google Chrome, Safari 6+ & Opera 15+ */
}

