<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
        app.settings.asideFolded = false;
        app.settings.asideDock = false;
     ">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black" >Dashboard</h1>
                </div>

            </div>
        </div>
        <!-- / main header -->



        <div class="wrapper-md">
            <tabset class="tab-container">
                <tab heading="Spaces statistics">
                    <!-- tasks -->
                    <div class="panel wrapper">
                        <div class="row">
                            <div class="b-light no-border-xs">
                                <h4 class="font-thin m-t-none m-b-md text-muted">Active Bookings</h4>

                                <div class="card box-shadow" ng-repeat="reservation in reservations.list">
                                    <div >
                                        <table>
                                            <tr>
                                                <td>
                                                    <div set-ng-animate="false">
                                                        <cl-image public-id="{{reservation.space.frontPhoto}}" width="238" height="159" crop="fill"></cl-image>
                                                    </div>
                                                </td>

                                                <td style="padding: 10px;">
                                                    <div class="ws-content-group" >
                                                        <div class="container-fluid" >
                                                            <div class="row">
                                                                <!--<a ng-click="viewDetailOfSpace(space, venue); resizeScrollPanel()">-->
                                                                <!--<a ui-sref="app.ui.search({details:'true',venueid:venue.id,spaceid:space.id})">-->
                                                                 <a ui-sref="app.pages.space({spaceId:reservation.space.id})">
                                                                <!--<a ui-sref="app.ui.search({details:'true',venueid:venue.id,spaceid:space.id})">-->
                                                                <h4 class="col font-bold">
                                                                    {{reservation.space.overview.title}}&nbsp;&nbsp;<small class="pull-right">{{reservation.space.venue.address.line1}}</small>
                                                                </h4>
                                                            </a>
                                                                
                                                                
                                                                <!--</a>-->
                                                                <small class="text-smoky col v-middle"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{reservation.space.capacity}}</small>

                                                                <span class="text-muted m-l-sm pull-right">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    {{reservation.creationDate}}
                                                                </span>

                                                            </div>
                                                            <a ui-sref="app.venues.preview({venueId:reservation.space.venue.id})">
                                                                <div class="row text-info">
                                                                    <span class="glyphicon glyphicon-map-marker left" aria-hidden="true"></span>
                                                                    <span class="text-cap">&nbsp;{{reservation.space.venue.overview.title}}</span>
                                                                </div>
                                                            </a>
                                                            <div class="row text-smoky">
                                                                <span>
                                                                    &nbsp;&nbsp;{{reservation.space.venue.venueType}}
                                                                </span>

                                                                <span ng-if="reservation.space.reviews.length == 1" class="ng-scope"> 1 review</span>
                                                            </div>

                                                            <div class="row">

                                                                <label class="label bg-info m-l-xs">{{reservation.reservationStatus.name}}</label>

                                                                <span class="label bg-light dk"><small>from</small>{{reservation.startDateTime}}</span>
                                                                <span class="label bg-light dk"><small>to</small>{{reservation.endDateTime}}</span>
                                                                <span class="label bg-light dk">&nbsp;{{reservation.space.pricing.perMonth| currency:"$":0}}<small>mo</small></span>
                                                            </div>

<!--                                                            <div class="m-t-sm">

                                                                <a href class="btn btn-default btn-xs">
                                                                    <i class="fa fa-mail-reply text-muted"></i> Reply
                                                                </a>
                                                            </div>-->


                                                        </div>
                                                    </div>


                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>

<!--                                <nav class="text-center">
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>-->

                            </div>
                            
                        </div>
                    </div>
                    <!-- / tasks -->


                </tab>
            </tabset>
            <!-- / tips -->

        </div>



    </div>
    <!-- / main -->
    <!-- right col -->
<!--    <div class="col w-md bg-white-only b-l bg-auto no-border-xs">
        <tabset class="nav-tabs-alt" justified="true">


            <tab>
                <tab-heading>
                    <i class="glyphicon glyphicon-comment text-md text-muted wrapper-sm"></i>
                </tab-heading>
                <div class="wrapper-md">



                     streamline 
                    <div class="m-b text-md">Recent Activity</div>
                    <div class="streamline b-l m-b">
                        <div class="sl-item">
                            <div class="m-l">
                                <div class="text-muted">5 minutes ago</div>
                                <p><a href class="text-info">Jessi</a> commented your post.</p>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="m-l">
                                <div class="text-muted">11:30</div>
                                <p>Join comference</p>
                            </div>
                        </div>
                        <div class="sl-item b-success b-l">
                            <div class="m-l">
                                <div class="text-muted">10:30</div>
                                <p>Call to customer <a href class="text-info">Jacob</a> and discuss the detail.</p>
                            </div>
                        </div>
                        <div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
                            Create tasks for the team
                        </div>
                        <div class="sl-item b-primary b-l">
                            <div class="m-l">
                                <div class="text-muted">Wed, 25 Mar</div>
                                <p>Finished task <a href class="text-info">Testing</a>.</p>
                            </div>
                        </div>
                        <div class="sl-item b-warning b-l">
                            <div class="m-l">
                                <div class="text-muted">Thu, 10 Mar</div>
                                <p>Trip to the moon</p>
                            </div>
                        </div>
                        <div class="sl-item b-info b-l">
                            <div class="m-l">
                                <div class="text-muted">Sat, 5 Mar</div>
                                <p>Prepare for presentation</p>
                            </div>
                        </div>
                        <div class="sl-item b-l">
                            <div class="m-l">
                                <div class="text-muted">Sun, 11 Feb</div>
                                <p><a href class="text-info">Jessi</a> assign you a task <a href class="text-info">Mockup Design</a>.</p>
                            </div>
                        </div>
                        <div class="sl-item b-l">
                            <div class="m-l">
                                <div class="text-muted">Thu, 17 Jan</div>
                                <p>Follow up to close deal</p>
                            </div>
                        </div>
                    </div>
                     / streamline 
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <i class="glyphicon glyphicon-transfer text-md text-muted wrapper-sm"></i>
                </tab-heading>
                <div class="wrapper-md">
                    <div class="m-b-sm text-md">Transactions</div>
                    <ul class="list-group list-group-sm list-group-sp list-group-alt auto m-t">
                        <li class="list-group-item">
                            <span class="text-muted">Transfer to Jacob at 3:00 pm</span>
                            <span class="block text-md text-info">B 15,000.00</span>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Got from Mike at 1:00 pm</span>
                            <span class="block text-md text-primary">B 23,000.00</span>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Sponsored ORG at 9:00 am</span>
                            <span class="block text-md text-warning">B 3,000.00</span>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Send to Jacob at 8:00 am</span>
                            <span class="block text-md">B 11,000.00</span>
                        </li>
                    </ul>
                </div>
            </tab>      -->
<!--        </tabset>
    </div>-->
    <!-- / right col -->
</div>
