<!--<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add/Edit venues  </h1>
</div>-->
<!--<div class="wrapper-md">-->

<div id="main-mapsearch-container" class="fullheight-map" ng-cloak>
    <div ng-controller="MapController as mapCtrl" class="hbox hbox-auto-xs hbox-auto-sm fill-height">
        <input id="pac-input" class="controls" type="text" placeholder="Enter location" ng-cloak>


        <div id="opciones" class="controls map-opciones" ng-cloak>
            <label>centrar en el mapa al seleccionar:
                <input type="checkbox" ng-model="optionsModel.centerOnMap">
            </label>
            <label>Map style:
                <select ng-options="item.name for item in styleMaps" ng-model="styleSelected"></select>
            </label>

        </div>
        <table class="map-unlock-container" style="width: 100%; height: 100%">
            <tr>
                <td style="width: 100%;">
                    <div class="div-wrapper">
                        <ui-gmap-google-map center='map.center' options='map.options' zoom='map.zoom' events="map.events" >
                            <ui-gmap-marker ng-repeat="marker in markers" idKey="marker.id" icon="marker.icon" options="marker.opciones" coords="marker.coordinates" click="markerClick(marker)">
                                <ui-gmap-window show="marker.show"
                                                options="map.infoWindowWithCustomClass.options"
                                                templateUrl="map.windowTemplate"
                                                templateParameter="map.windowParameter(marker)"
                                                closeClick="markerClose(marker)"
                                                ng-cloak>
                                </ui-gmap-window>
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </td>
                <td class="td-results-map-search">
                    <div id="container" class="result-map-container">
                        <div class="container-fluid filter-results-container" ng-hide="detailView">
                            <div class="row-fluid">
                                <div class="btn-group col-md-5 col-lg-3" style="padding-left: 0px !important;padding-right: 5px !important;">
                                    <label class="btn btn-default btn-warning" ng-model="filterSpaceSearch.spaceType" btn-radio="'Meet'" uncheckable>Meet</label>
                                    <label class="btn btn-default btn-warning" ng-model="filterSpaceSearch.spaceType" btn-radio="'Work'" uncheckable>Work</label>
                                </div>

                                <div class="col-md-12 col-lg-6" style="padding-left: 0px !important;padding-right: 0px !important;">
                                    <div class="row-fluid">
                                        <div class="col-md-5 col-lg-6" style="padding-left: 0px !important;padding-right: 5px !important;">
                                            <input ui-jq="TouchSpin" type="text" ng-model="filterSpaceSearch.duration" value="1" class="form-control"  data-min='1' data-max="20" data-step="1" data-decimals="0">
                                        </div>
                                        <div class="btn-group col-md-7 col-lg-6" style="padding-left: 0px !important;padding-right: 0px !important;">
                                            <label tooltip="Hours" tooltip-placement="top" tooltip-trigger="mouseenter" class="btn btn-default" ng-model="filterSpaceSearch.durationUnit" btn-radio="'Hours'" uncheckable>H</label>
                                            <label tooltip="Days" tooltip-placement="top" tooltip-trigger="mouseenter" class="btn btn-default" ng-model="filterSpaceSearch.durationUnit" btn-radio="'Days'" uncheckable>D</label>
                                            <label tooltip="Months" tooltip-placement="top" tooltip-trigger="mouseenter" class="btn btn-default" ng-model="filterSpaceSearch.durationUnit" btn-radio="'Months'" uncheckable>M</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="input-group col-md-7 col-lg-3" style="padding-left: 0px !important;padding-right: 5px !important;">
                                    <div class="hackyhack">
                                        <input type="text" class="form-control" datepicker-popup="dd/MMMM/yy" ng-model="dt"
                                               is-open="opened" min-date="datePickerOptions.mindate" max-date="'2015-06-22'" datepicker-options="datePickerOptions"
                                               date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="padding-left: 2px !important; padding-right: 2px !important;"/>
                                    </div>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="results" class="results-map-search-top60" ng-hide="detailView">
                            <div ng-show="venuesIsEmpty()">
                                Searching for venues around the <b>{{formattedAddress}}</b> yielded no results.
                            </div>
                            <div ng-repeat="venue in venues">
                                <div class="card" ng-mouseenter="highlightMarker(venue)" ng-mouseleave="normalizeMarker(venue)" ng-repeat="space in venue.spaces">
                                    <div >
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 60%; padding: 10px;">
                                                    <div class="ws-content-group" >
                                                        <div class="container-fluid" >
                                                            <div class="row">
                                                                <a ng-click="viewDetailOfSpace(space, venue); resizeScrollPanel()">
                                                                <!--<a ui-sref="app.ui.search({details:'true',venueid:venue.id,spaceid:space.id})">-->
                                                                    <h4 class="col font-bold">
                                                                        {{space.overview.title}}&nbsp;&nbsp;
                                                                    </h4>
                                                                </a>
                                                                <small class="text-smoky col v-middle"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{space.capacity}}</small>
                                                            </div>
                                                            <a ui-sref="app.venues.preview({venueId:venue.id})">
                                                                <div class="row text-info">
                                                                    <span class="glyphicon glyphicon-map-marker left" aria-hidden="true"></span>
                                                                    <span class="text-cap">&nbsp;{{venue.overview.title}}</span>
                                                                </div>
                                                            </a>
                                                            <!--                                                            <div class="row text-info">
                                                                                                                            <span class="glyphicon glyphicon-map-marker left" aria-hidden="true"></span>
                                                                                                                            <span class="text-cap">&nbsp;{{venue.overview.title}}</span>
                                                                                                                        </div>-->
                                                            <div class="row text-smoky">
                                                                <span>
                                                                    &nbsp;&nbsp;{{space.venue.venueType}}
                                                                </span>

                                                                <span ng-if="space.reviews.length == 1" class="ng-scope"> • 1 review</span>
                                                            </div>

                                                            <div class="row">

                                                                <span class="label bg-info">&nbsp;{{space.pricing.currency.currencyCode}}</span>
                                                                <span class="label bg-light dk">{{space.pricing.perHour| currency:"$":0}}<small>hr</small></span>
                                                                <span class="label bg-light dk">{{space.pricing.perDay| currency:"$":0}}<small>day</small></span>
                                                                <span class="label bg-light dk">&nbsp;{{space.pricing.perMonth| currency:"$":0}}<small>mo</small></span>


                                                            </div>
                                                        </div>
                                                    </div>


                                                </td>
                                                <td>
                                                    <div style="width: 100%; height: 100%;" set-ng-animate="false">
                                                        <carousel>
                                                            <slide ng-repeat="slide in space.slides" active="slide.active">
                                                                <cl-image public-id="{{slide.image}}" width="238" height="159" crop="fill">
                                                                </cl-image>
                                                            </slide>
                                                        </carousel>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="detailView">
                            <div>
                                <div class="panel-heading" >
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-5" ng-click="viewResults()">
                                                <!--<a class="text-info-dk h4">-->
                                                    <a class="text-info-dk h4" ui-sref="app.ui.search({details:'false',lat:'',lon:''})">
                                                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                                    Search results
                                                </a>
                                            </div>
                                            <div class="col-lg-7 h4">
                                                Details
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default results-map-search-top50">
                                <div class="panel-body container-fluid" set-ng-animate="false">
                                    <carousel>
                                        <slide ng-repeat="slide in spaceSelected.slides" active="slide.active">
                                            <cl-image public-id="{{slide.image}}" width="513" height="300" crop="fill" class="img-full">
                                            </cl-image>
                                        </slide>
                                    </carousel>
                                    <div class="container-fluid" >
                                        <div class="row">
                                            <h4 class="col font-bold">
                                                {{spaceSelected.overview.title}}&nbsp;&nbsp;
                                            </h4>
                                            <small class="text-smoky col v-middle">
                                                -
                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                                &nbsp;
                                                <ng-pluralize count="spaceSelected.capacity"
                                                              when="{'0': 'not defined yet',
                                                              'one': '1 person',
                                                              'other': '{} persons'}">
                                                </ng-pluralize>
                                            </small>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="bg-light text-info col-lg-12 text-left h4">
                                                <br/>
                                                <a ui-sref="app.venues.preview({venueId:venueSelected.id})"
                                                   <span>{{venueSelected.overview.title}}</span>
                                                </a>
                                                <!--<span>{{venueSelected.overview.title}}</span>-->
                                                <br/>
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row container-fluid">
                                            <span >{{venueSelected.overview.summary}}</span>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="bg-light col-lg-12 text-left h4">
                                                <br/>
                                                <span>Princing options</span>
                                                <br/>
                                                &nbsp;
                                            </div>
                                        </div>


                                        <div class="row">
                                            <a ui-sref="app.bookspace({spaceId:spaceSelected.id,dateSelected:dt.formatMMDDYYYY()})"
                                               class="col btn btn-dark padder-v text-muted">
                                                <i class="icon-edit block m-b-xs fa-2x"></i>
                                                <span>Book now</span>
                                            </a>
                                        </div>
                                        <pre>{{dt | json}}</pre>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>

<script>
//<![CDATA[
    function resizeScrollPanel() {
        console.log("resizeScrollPanel");
        var fullHeight = $(window).height() - 50;
        $("#main-mapsearch-container").css('height', fullHeight + 'px');
        $(".results-map-search-top50").css('height', (fullHeight - 50) + 'px');
        $(".results-map-search-top60").css('height', (fullHeight - 100) + 'px');
        $(".angular-google-map").css('height', (fullHeight) + 'px');
        $(".div-wrapper").css('height', (fullHeight) + 'px');
    }
    $(document).ready(function () {
        resizeScrollPanel();
    });
    var id;
    $(window).resize(function () {
        id = setTimeout(resizeScrollPanel, 500);
    });
        //]]>
</script>
<!--</div>-->

