<!--<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add/Edit venues  </h1>
</div>-->
<!--<div class="wrapper-md">-->

<div id="main-mapsearch-container" class="fullheight-map">
    <div ng-controller="MapController as mapCtrl" class="hbox hbox-auto-xs hbox-auto-sm fill-height">
        <input id="pac-input" class="controls" type="text" placeholder="Enter location">

        <div id="opciones" class="controls map-opciones">
            <label>centrar en el mapa al seleccionar:
                <input type="checkbox" ng-model="optionsModel.centerOnMap">
            </label><br/>
        </div>
        <table class="map-unlock-container" style="width: 100%; height: 100%">
            <tr>
                <td style="width: 100%;">
                    <div class="div-wrapper">
                        <ui-gmap-google-map center='map.center' options='map.options' zoom='map.zoom' events="map.events" >
                            <ui-gmap-marker ng-repeat="marker in markers" idKey="marker.id" icon="marker.icon" options="marker.opciones" coords="marker.coordinates" click="markerClick(marker)">
                                <ui-gmap-window show="marker.show"
                                                options="map.infoWindowWithCustomClass.options"
                                                templateUrl="map.windowTemplate"
                                                templateParameter="map.windowParameter(marker)"
                                                closeClick="markerClose(marker)"
                                                ng-cloak="ng-cloak">
                                </ui-gmap-window>
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </td>
                <td class="td-results-map-search">
                    <div id="container" class="result-map-container">
                        <div id="results" class="results-map-search">
                            <div ng-show="spacesIsEmpty()">
                                Searching for spaces around the TO DO PUT STATE yielded no results.
                            </div>
                            <div class="card" ng-mouseenter="highlightMarker(space)" ng-mouseleave="normalizeMarker(space)" ng-repeat="space in spaces">
                                <div >
                                    <table style="width: 100%;">
                                        <tr>
                                            <td style="width: 100%; padding: 10px;">
                                                <div class="ws-content-group">
                                                    <h5 class="ws-item-title text-overflow-dot ng-binding" style="width: 200px;">
                                                        {{space.overview.title}}
                                                        <!-- end ngIf: item.workspace.capacity -->
                                                    </h5>
                                                    <span class="text-smoky ng-binding ng-scope" >
                                                        <i class="fa fa-users" aria-hidden="true"></i> 1
                                                    </span>
                                                    <!--<small class="text-smoky"><em>at</em> <span class="text-cap">{{item.venue.name}}</span></small>-->
                                                </div>

                                                <div class="ws-content-group">
                                                    <div class="ws-item-emphasis flex-row flex-gutter-sm">
                                                        <div class="flex-cell-auto flex-align--top">
                                                            <i aria-hidden="true" class="icon icon-marker-thin-alt align-middle"></i>
                                                        </div>
                                                        <div class="flex-cell flex-align--top">
                                                            <p class="text-overflow-dot text-cap">
                                                                <a class="text-link text-positive ng-binding" >{{space.overview.title}}</a>
                                                            </p>
                                                            <p class="p-xs text-smoky text-overflow-dot ng-binding">
                                                                Business Center <!-- ngIf: item.venue.reviews > 1 --> <!-- ngIf: item.venue.reviews < 1 --> <!-- ngIf: item.venue.reviews == 1 --><span ng-if="item.venue.reviews == 1" class="ng-scope"> • 1 review</span><!-- end ngIf: item.venue.reviews == 1 -->
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>

                                                <figure class="changeable-picture" ng-init="visible=0">
                                                    <div ng-show="visible === 0" style="width: 238px; height: 159px;">
                                                        <cl-image public-id="{{space.frontPhoto}}" width="238" height="159" crop="fill">
                                                        </cl-image>
                                                    </div>
                                                    <div ng-show="visible === ($index+1)" style="width: 238px; height: 159px;" ng-repeat="photo in space.photos track by $index">
                                                        <cl-image public-id="{{photo}}"  width="238" height="159" crop="fill">
                                                        </cl-image>
                                                    </div>
                                                    <figcaption ng-show="space.photos.length >0" ng-click="visible = (visible >= space.photos.length)?0:(visible + 1)"><p>mostrar siguiente</p></figcaption>
                                                    
                                                </figure>



                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>

<script>
            //<![CDATA[
                    function resizeScrollPanel() {
                    var fullHeight = $(window).height() - 50;
                            $("#main-mapsearch-container").css('height', fullHeight + 'px');
                    }
            $(document).ready(function () {
            resizeScrollPanel();
            });
                    var id;
                    $(window).resize(function () {
            id = setTimeout(resizeScrollPanel, 500);
            });
                    //]]>
</script>
<!--</div>-->

