      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
<!--          <i class="fa fa-btc"></i>-->
          <img src="img/logoUnlockSpaces.png" alt="." >
          <img class="hidden-folded m-l-xs" src="img/wordUnlockSpaces.png" alt="." >
          <!--<span class="hidden-folded m-l-xs">{{app.name}}</span>-->
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow-app {{app.settings.navbarCollapseColor}}">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
          <a href class="btn-open-new btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-bars"></i>
          </a>
          <!-- <a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user" ng-if="auth.isAuthenticated">
            <i class="icon-user fa-fw"></i>
          </a> -->
        </div>
        <!-- / buttons -->

        <!-- link and dropdown -->
        <!-- / link and dropdown -->

        <!-- search form -->
        <!-- / search form -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              {{selectLang}} <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInUp w">
              <li ng-repeat="(langKey, label) in langs">
                <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
          <li class="hidden-xs">
            <a ui-fullscreen></a>
          </li>
          <li class="dropdown" dropdown ng-if="auth.isAuthenticated" ng-controller="NotificationsCtl">
              
              <a href class="dropdown-toggle" dropdown-toggle>
              <i class="icon-bell fa-fw"></i>
              <span class="visible-xs-inline">Notifications</span>
              <span ng-show="notifications.length && user.hasNewNotifications" 
                    class="badge badge-sm up bg-danger pull-right-xs">{{notifications.length}}</span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp"  >
              <div class="panel bg-white" ui-jq="slimScroll" ui-options="{height:'250px', size:'8px'}">
                <div class="panel-heading b-light bg-light">
                  <strong ng-show="notifications.length">You have <span>{{notifications.length}}</span> notifications</strong>
                  <strong  ng-hide="notifications.length">You have cero notifications</strong>
                  
                </div>
                <div class="list-group">
                    <a href class="media list-group-item" ng-repeat="notification in notifications track by $index" ng-click="selectNotification(notification, true)">
                    <span class="pull-left thumb-sm">
                      <img src="img/a0.jpg" alt="..." class="img-circle">
                    </span>
                    <span class="media-body block m-b-none" >
                      {{notification.details}}<br>
                      <small class="text-muted">{{notification.creationDate | fromNow}}</small>
                    </span>
                  </a>
                  
                </div>
                <div class="panel-footer text-sm" ng-show="notifications.length">
                  <a href class="pull-right"><i class="fa fa-cog"></i></a>
                  <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                </div>
              </div>
            </div>
            <!-- / dropdown -->
          </li>
          <li class="dropdown" dropdown ng-if="auth.isAuthenticated">
            <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img ng-src="{{auth.profile.picture}}" alt="..."/>
                <i class="on md b-white bottom"></i>
              </span>
              <span class="hidden-sm">{{auth.profile.nickname}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInUp w">
              
              <li>
                <a ui-sref="app.page.profile({profileId:auth.profile.user_id})">Profile</a>
              </li>
              <li>
                <a ui-sref="app.docs">
                  <span class="label bg-info pull-right">new</span>
                  Help
                </a>
              </li>
              <li class="divider"></li>
              <li>
                  <a ng-click="logout()">Logout</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->
