<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Booking Requests</h1>
</div>

<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="">
    <div class="col w-lg bg-light lter b-l ">
        <div class="wrapper">
            <div >
                <div class="card" ng-if="renderList"
                     style="padding: 0px;"
                     ng-repeat="reservation in reservations.list" ng-click="selectReservation(reservation)">
                    <div >
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 60%; padding: 10px;">
                                    <div class="ws-content-group" >
                                        <div class="container-fluid" >
                                            <div class="row">
                                                <a >
                                                    <h4 class="col font-bold">
                                                        {{reservation.reservedBy.name + " " + reservation.reservedBy.lastname}}
                                                    </h4>
                                                </a>
                                            </div>

                                            <div class="row {{getStatusStyle(reservation)}}">
                                                <span class="text-cap">{{reservation.reservationStatus.details}}</span>
                                            </div>
                                            <div class="row text-smoky">
                                                <span>
                                                    &nbsp;&nbsp;{{space.venue.venueType}}
                                                </span>

                                                <span ng-if="space.reviews.length == 1" class="ng-scope"> • 1 review</span>
                                            </div>

                                            <div class="row">
                                                <span class="label bg-warning">from {{createDate(reservation.creationDate)+" - "+((reservation.paymentAmount + reservation.paymentVat)| currency : "$":0)}}</span>
                                            </div>
                                        </div>
                                    </div>


                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col col-lg-8">
        <div class="wrapper-md">
            <div data-ng-include="'tpl/reservations/page_invoice.html'">
            </div>
        </div>
    </div>

</div>


