<div ng-if="selected">
    <div class="bg-light lter b-b wrapper-md hidden-print">
        <a href class="btn btn-sm btn-info pull-right b-r" onClick="window.print();">Print</a>
        
         <a ng-show="isAproved()" href 
           class="btn btn-sm btn-danger pull-right b-r" ng-click="cancelBooking()">Cancel</a>&nbsp;
        <a ng-show="isPending()" href 
           class="btn btn-sm btn-danger pull-right b-r" ng-click="rejectBooking()">Reject</a>&nbsp;
        <a ng-show="isPending()" href 
           class="btn btn-sm btn-success pull-right b-r" ng-click="approveBooking()">Accept</a>&nbsp;

        <h1 class="m-n font-thin h3">Booking Request</h1>
    </div>
    <div class="wrapper-md">
        <div>
            <!--<i class="fa fa-apple fa fa-3x"></i>-->
            <div class="row">
                <div class="col-xs-6">
                    <h4>Booking ID</h4>
                    <p>{{selected.space.venue.overview.title}}</p>
                    <p>{{selected.space.venue.address.line1}}<br>
                       
                    </p>
                    <p>
                        Telephone:  {{selected.space.venue.contactInfo.phone}}<br>
                        E-Mail:  {{selected.space.venue.contactInfo.email}}
                    </p>
                </div>
                <div class="col-xs-6 text-right">
                    <p class="h4">#{{selected.id}}</p>
                    <h5>{{createDate(selected.creationDate)}}</h5>           
                </div>
            </div>
            <div class="well m-t bg-light lt">
                <div class="row">
                    <div class="col-xs-12">
                        <strong>{{selected.space.overview.title}}</strong>
                        <h4>{{selected.reservedBy.name+" "+selected.reservedBy.lastname}}</h4>
                        <p>
                            {{selected.space.type.name}}<br>
                            {{selected.duration+" "+selected.durationUnit}}<br>
                            from {{selected.startDateTime | date : 'EEE. MMM dd, yyyy - HH:mm'}}
                            to {{selected.endDateTime | date : 'EEE. MMM dd, yyyy - HH:mm'}}
                        </p>
                    </div>

                </div>
            </div>
            <p class="m-t m-b">Booking date: <strong>{{createDate(selected.creationDate)}}</strong><br>
                Reservation status: <span class="label bg-success">{{selected.reservationStatus.name}}</span><br>
                Booking ID: <strong>#{{selected.id}}</strong>
            </p>
            <div class="line"></div>
            <table class="table table-striped bg-white b-a">
                <thead>
                    <tr>
                        <th>DESCRIPTION</th>
                        <th style="width: 140px">PRICE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>UnlockSpaces fee</td>
                        <td>Free</td>
                    </tr>
                    <tr>
                        <td>Space Price</td>
                        <td>{{selected.paymentAmount | currency : "$":0}}</td>
                    </tr>
                    <tr>
                        <td  class="text-right"><strong>Subtotal</strong></td>
                        <td>{{selected.paymentAmount | currency : "$":0}}</td>
                    </tr>
                    <tr>
                        <td class="text-right no-border"><strong>VAT Included in Total</strong></td>
                        <td>{{selected.paymentVat | currency : "$":0}}</td>
                    </tr>
                    <tr>
                        <td class="text-right no-border"><strong>Total</strong></td>
                        <td><strong>{{(selected.paymentAmount + selected.paymentVat) | currency : "$":0}}</strong></td>
                    </tr>
                </tbody>
            </table>              
        </div>
    </div>
</div>